 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master degree in Electronics and Embedded Systems</h4>
    <h5 class="meta">University of Toulouse Paul Sabatier</h5>
    <div class="time">2008</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Licence degree in electronics and micro electronics</h4>
    <h5 class="meta">University of Toulouse Paul Sabatier</h5>
    <div class="time">2006</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BTS in Electronics</h4>
    <h5 class="meta">Lycée Jean Baptiste de Baudre</h5>
    <div class="time">2004</div>
</div><!--//item-->
</div><!--//education-container-->
